:root {
	--darkBlue: #2f80ed;
	--blue: #2d9cdb;
	--lightBlue: #b3e5fc;
	--dark: #333333;
	--darkGray: #4f4f4f;
	--midGray: #828282;
	--lightGray: #bdbdbd;
	--light: #e0e0e0;
	--white: #f2f2f2;
	--darkGreen: #219653;
	--green: #27ae60;
	--lightGreen: #6fcf97;
	--orange: #f2994a;
	--darkPurple: #9b51e0;
	--purple: #bb6bd9;
	--red: #eb5757;
	--yellow: #f2c94c;
	--lightYellow: #fff59d;
}

.App-logo {
	height: 40vmin;
	pointer-events: none;
}

#provinces {
	fill: var(--lightGreen);
	stroke: var(--lightGreen);
}

#provinces .active {
	visibility: hidden;
}

#province-borders {
	fill: none;
	stroke: var(--white);
	stroke-width: 1.5px;
	stroke-linejoin: round;
	stroke-linecap: round;
	pointer-events: none;
}

.gemeente-grens {
	stroke-linejoin: round;
	stroke-linecap: round;
	stroke: var(--green);
	stroke-opacity: 1;
	/* stroke-width: 0.1em; */
	/* transition-duration: 0.5s; */
	fill: var(--lightGreen);
}
/* 
.gemeente-grens:hover,
.province:hover {
	transition-duration: 0.5s;
	opacity: 0.9;
} */

.province {
	stroke-opacity: 0.5;
	stroke-width: 1px;
	/* stroke: none; */
	stroke-linejoin: round;
	stroke-linecap: round;
}
.gemeente {
	fill-opacity: 1;

	/* stroke: white; */
}
